@charset "UTF-8";

/* 
    Paleta de cores
    preto: #0b0c0e
    cinza ewscuro: #323038
    preto 2: #0d0e12
    cinza claro: #a0928a
    marom: #1d1b1b
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #0d0e12;
    height: 100vh;
    width: 10vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}

section#login > div#imagem {
    background: #0d0e12 url(../imagens/galaxy.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}